:root {
    --col-1: #547326;
    --col-2: #709b31;
    --col-3: #384c1a;
    --col-4: #1C260D;
    --col-5: #e9f2da;
    --col-grey: #fafafa;

    --col-bg-blue: var(--col-3);
    --col-bg: #fff;
    --col-title: var(--col-4);
    /*--col-text: var(--col-3);*/
    --col-text: #000;
    --col-markup: #f8adbd;
    --col-nav-link: #fff;
    
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--col-text);
    margin: 0;
}

h1,
h2 {
    color: var(--col-title);
}

section {
    margin: 0 10px 40px 10px;
}

section.bg-green,
section.border-green {
    border-radius: 20px;
}

section.bg-green {
    padding: 30px;
    background-color: var(--col-5);
}

@media screen and (width > 768px) {
    section.border-green {
        border: 2px solid var(--col-2);
        padding: 30px 40px;
    }
}

section.bg-green h2 {
    margin-top: 0;
}

.header {
    margin-bottom: 40px;
    padding: 10px 0;
    background-color: var(--col-bg-blue);
}

.header .container {
    display: flex;
    justify-content: space-between;

    img.profile {
        border-radius: 50%;
        width: 30vw;
        margin-left: 10px;
        max-width: 140px;
        position: relative;
        bottom: -30px;
    }
    
    .custom-nav ul {
        list-style-type: none;
        display: flex;
    }
    
    .custom-nav .item .btn {
        margin-right: 12px;
    }
    
    .custom-nav .item .btn {
        text-decoration: none;
        font-weight: bold;
        color: var(--col-nav-link);
        transition: color 0.8s ease;
    }
    
    .custom-nav .item .btn:hover {
        color: var(--col-markup);
    }

}

.footer {
    margin-top: 40px;
    background-color: var(--col-1);
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}

.footer .links,
.footer .links a {
    color: var(--col-nav-link);
    transition: color 1s;
}
.footer .links a:hover { color: var(--col-markup); }

@media screen and (width > 768px) {
    main,
    .header .container {
        width: 80%;
        margin: auto;
    }
}

@media screen and (width > 1024px) {
    main, 
    .header .container {
        width: 60%;
        margin: auto;
    }
}

/* burger menu solo para moviles */
#menu-toggle { display: none; }

@media screen and (width < 425px) {
    .custom-nav {
        .hamburger {
            cursor: pointer;
            display: inline-block;
            width: 30px;
            height: 25px;
            position: relative;
            margin-right: 8px;
        }
        
        .hamburger span {
            display: block;
            background: var(--col-markup);
            height: 4px;
            width: 100%;
            position: absolute;
            transition: all 0.8s ease;
        }
        
        .hamburger span:nth-child(1) { top: 0; }
        .hamburger span:nth-child(2) { top: 10px; }
        .hamburger span:nth-child(3) { top: 20px; }

        #menu-toggle:checked + .hamburger span:nth-child(1),
        #menu-toggle:checked + .hamburger span:nth-child(2),
        #menu-toggle:checked + .hamburger span:nth-child(3) {
            transform: rotate(45deg);
            top: 10px;
        }
        #menu-toggle:checked + .hamburger span:nth-child(2) { opacity: 0; }
        #menu-toggle:checked + .hamburger span:nth-child(3) { transform: rotate(-45deg); }
        #menu-toggle:checked ~ ul#links.list { display: block; }
        
        ul#links.list {
            display: none;
            background-color: var(--col-grey);
            border-radius: 8px;
            border: 1px solid var(--col-markup);
            padding: 20px;
            width: 200px;
            position: absolute;
            right: 0;
        }
        
        ul#links.list li { margin-bottom: 15px; }
        ul#links.list li:last-child { margin-bottom: 0; }
        ul#links.list li a {
            text-decoration: none;
            color: var(--col-text);
            font-size: 18px;
        }
    }
}